@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --color-principal: #493657;
  --color-secundario: #CE7DA5;
  --color-texto: black;
  --color-fondo: #F1EDEE;
}


* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  background-color: var(--color-principal);
  color: var(--color-fondo);
  border: solid 2px var(--color-secundario);
  max-width: 650px;
  padding: 10px;
  font-size: 16px;
}

h3 {
  margin: 8px 0px;
  font-size: 14px;
  color: var(--color-texto);
}

.contenedor-mix {
  display: flex;
  justify-content: space-between;
  max-width: 850px;
}

#contenedor-datos {
  display: flex;
  align-items: center;
}

.contenedor-letras {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.letra {
  background-color: var(--color-principal);
  color: var(--color-fondo);
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  margin: 5px;
  padding: 15px;
  border-radius: 5px;
  border: solid 2px var(--color-secundario);

  &:hover {
    transform: scale(1.15);
    background-color: var(--color-secundario);
    color: var(--color-texto);
    border: solid 1px var(--color-secundario);
    
  }
}

.letra:disabled {
  cursor: not-allowed;
}

.letra.correcta {
  background-color: #28a745;
  color: var(--color-texto);
}

.letra.incorrecta {
  background-color: #dc3545;
  color: #463F3A;
}

#palabra-secreta {
  margin-top: 5px;
  padding: 10px;
  font-size: 30px;
  color: black;
  min-height: 35px;
}

.letra-secreta {
  margin: 0 10px;
}

.divIzquierdo p {
  font-size: 11px;
  color: black;
}

#contenedor-errores {
  margin: 10px;
  color: #F4F3EE;
  background-color: var(--color-principal);
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

#contenedor-intentos {
  margin: 10px;
  background-color: #F4F3EE;
  border: solid 4px var(--color-principal);
  border-radius: 5px;
  color: var(--color-texto);
  padding: 5px;
  font-size: medium;
  font-size: 14px;
}

#contenedor-cronometro {
  margin: 10px;
  color: #F4F3EE;
  background-color:var(--color-principal);
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

#contenedor-cronometro-letra {
  margin: 5px;
  color: #dc3545;
  background-color: #F4F3EE;
  padding: 5px;
  border-radius: 5px;
  border: solid 4px var(--color-principal);
  width: 300px;
}

#botonPista {
  padding: 15px;
  margin: 10px;
  width: 100px;
  background-color: #28a745;
  color: black;
  cursor: pointer;
  border: 3px solid var(--color-principal);

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    border: 3px solid yellow;
  }

  &:disabled {
    cursor: not-allowed;
  }

}

#imagen-ahorcado {
  max-width: 280px;
  max-height: 280px;
}

.contenedor-categoria-botones {
  display: flex;
  align-items: center;
}

#categoria-select {
  width: 180px;
  height: 30px;
  background-color: var(--color-principal);
  color: var(--color-fondo);
  font-size: medium;
  margin: 10px;
  padding: 5px;

  &:hover {
    background-color: var(--color-principal);
    color: var(--color-fondo);
  }
}

#ranking {
  width: 90%;
  max-width: 800px; 
  margin: 20px auto;
  background-color: var(--color-fondo);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  overflow-x: auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

  #ranking h3 {
  margin: 10px 0;
  font-size: 1.5em;
  color: var(--color-texto);
}
}

#rankingTabla {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: fixed; 
}

#rankingTabla th,
#rankingTabla td {
  padding: 8px 10px;
  border: 1px solid var(--color-secundario);
  word-wrap: break-word; 
}

#rankingTabla th {
  background-color: var(--color-principal);
  color: var(--color-texto);
  font-weight: bold;
  text-align: center;
}

#rankingTabla td {
  background-color: var(--color-secundario);
  color: var(--color-texto);
  text-align: center;
}

#mostrarRanking {
  padding: 5px;
  margin: 5px;
  margin-bottom: 20px;
  background-color: var(--color-secundario);
  color: var(--color-texto);
  width: 150px;
  border: 5px solid var(--color-principal);

  &:hover {
    background-color: var(--color-secundario);
    cursor: pointer;
    transform: scale(1.1);
    border: solid 2px black;
  }
}

@media (max-width: 750px) {
  

  #ranking {
    width: 100%; 
    padding: 5px;
  }

  #rankingTabla th,
  #rankingTabla td {
    padding: 6px; 
    font-size: 0.9em; 
  }
}
