@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background-color: #A675A1;
  color: #463F3A;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  background-color: #463F3A;
  color: #F4F3EE;
  border: solid 2px #F4F3EE;
  max-width: 650px;
  padding: 10px;
  font-size: 16px;
}

h3 {
  margin: 8px;
  font-size: 14px;
  color: black;
}

.contenedor-mix {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
}

#contenedor-datos {
  display: flex;
  align-items: center;
}

.contenedor-letras {
  margin: 5px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.letra {
  background-color: #463F3A;
  color: #F4F3EE;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  margin: 8px;
  padding: 12px;
  border-radius: 5px;
  border: solid 1px #F4F3EE;

  &:hover {
    transform: scale(1.15);
    background-color: #F4F3EE;
    color: #463F3A;
    border: solid 1px #463F3A;
    
  }
}

.letra:disabled {
  cursor: not-allowed;
}

.letra.correcta {
  background-color: #28a745;
  color: #463F3A;
}

.letra.incorrecta {
  background-color: #dc3545;
  color: #463F3A;
}

#palabra-secreta {
  margin-top: 10px;
  padding: 15px;
  font-size: 35px;
  color: black;
  min-height: 35px;
}

.letra-secreta {
  margin: 0 10px;
}

.divIzquierdo p {
  font-size: 11px;
  color: black;
}

#contenedor-errores {
  margin: 10px;
  color: #F4F3EE;
  background-color: #463F3A;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

#contenedor-intentos {
  margin: 10px;
  background-color: #F4F3EE;
  border: solid 2px #463F3A;
  border-radius: 5px;
  color: #463F3A;
  padding: 5px;
  font-size: medium;
  font-size: 14px;
}

#contenedor-cronometro {
  margin: 10px;
  color: #F4F3EE;
  background-color: #463F3A;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

#contenedor-cronometro-letra {
  margin: 5px;
  color: #dc3545;
  background-color: #F4F3EE;
  padding: 5px;
  border-radius: 5px;
  border: solid 2px #463F3A;
  width: 300px;
}

#botonReiniciar {
  padding: 5px;
  margin: 5px;
  background-color: #F4F3EE;

  &:hover {
    background-color: #28a745;
    cursor: pointer;
    transform: scale(1.1);
    border: solid 2px #463F3A;
  }
}

#botonParar {
  padding: 5px;
  margin: 5px;
  background-color: #F4F3EE;

  &:hover {
    background-color: #dc3545;
    cursor: pointer;
    transform: scale(1.1);
    border: solid 2px #463F3A;
  }
}

#botonPista {
  padding: 15px;
  margin: 10px;
  width: 100px;
  background-color: #28a745;
  color: black;
  cursor: pointer;
}

#imagen-ahorcado {
  max-width: 280px;
  max-height: 280px;
}

.contenedor-categoria-botones {
  display: flex;
  align-items: center;
}

#categoria-select {
  width: 180px;
  height: 30px;
  background-color: #F4F3EE;
  color: #463F3A;
  font-size: medium;
  margin: 10px;
  padding: 5px;

  &:hover {
    background-color: #463F3A;
    color: #F4F3EE;
  }
}

#ranking {
  width: 90%;
  max-width: 800px; 
  margin: 20px auto;
  background-color: #F4F3EE;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  overflow-x: auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

  #ranking h3 {
  margin: 10px 0;
  font-size: 1.5em;
  color: #463F3A;
}
}

#rankingTabla {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: fixed; 
}

#rankingTabla th,
#rankingTabla td {
  padding: 8px 10px;
  border: 1px solid #463F3A;
  word-wrap: break-word; 
}

#rankingTabla th {
  background-color: #463F3A;
  color: #c6ebbe;
  font-weight: bold;
  text-align: center;
}

#rankingTabla td {
  background-color: #F4F3EE;
  color: #463F3A;
  text-align: center;
}

#mostrarRanking {
  padding: 5px;
  margin: 5px;
  margin-bottom: 20px;
  background-color: #F4F3EE;
  width: 150px;

  &:hover {
    background-color: yellow;
    cursor: pointer;
    transform: scale(1.1);
    border: solid 2px black;
  }
}

@media (max-width: 600px) {
  #ranking {
    width: 100%; 
    padding: 5px;
  }

  #rankingTabla th,
  #rankingTabla td {
    padding: 6px; 
    font-size: 0.9em; 
  }
}
