@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-bg);
  color: var(--primary-text);
  padding: 10px 20px;
  height: 100px;
}

.navbar .nav-link {
  color: var(--primary-text);
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.navbar .nav-link.active {
  font-weight: bold;
  text-decoration: underline;
  color: var(--button-color);
}

.nav-title h1 {
  margin: 0;
  cursor: pointer;
  font-size: xx-large;
}

