.inicio {
    text-align: center;
    padding: 20px;
  }
  
  .lista-libros {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .card {
    color: #EDE6E3;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 255, 255, 0.3);
    width: 250px;
    text-align: center;
    border: 2px solid var(--highlight-color);
  }
  
  .card img.portada {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .card h3 {
    color: var(--highlight-color);
  }
  
  .card a {
    display: block;
    margin-top: 10px;
    color: #00FF7F;
    text-decoration: none;
  }
  
  .card a:hover {
    text-decoration: underline;
    color: var(--highlight-color);
  }
  