.busqueda {
    text-align: center;
    padding: 20px;
  }
 
  .busqueda input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  .lista-libros {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
 
  .card {
    background: #2D2D2D;
    color: #EDE6E3;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
  }
 
  .card h3 {
    margin: 0;
  }
 
  .card a {
    display: block;
    margin-top: 10px;
    color: #00FF7F;
    text-decoration: none;
  }
 
  .card a:hover {
    text-decoration: underline;
  }
